
        body{
            background-color: gainsboro;
        }
        #first {
            margin: 1.2em;
            padding: 1em;
            padding-bottom: 10em;
            margin-top: 0;
            font-size: 4em;
            text-align: center;
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            animation: text 3s 1;
        }
        @keyframes text{
            0%{
                color: black;
            }
            30%{
                letter-spacing: 25px;
            }
            85%{
                letter-spacing: 3px;
            }
        }
        h1{
            text-align: center;
            color: #000000;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font: bold;
        }
       
        .main{           
            background: url(../Images/desk.PNG) no-repeat center center fixed; 
            background-size: cover;
        }
        .about{
            text-align: center;
            padding: 6em;
            margin: 5em;
            padding-top: 0;
            padding-bottom: 50%;
        }
        #education{
            background-color: lightgray;
            float: left;
            padding: 3em;
            margin: 4em;
            padding-bottom: -40%;
            
        }
        #course{
            background-color: lightgray;
            float: right;
            margin: 4em;
            margin-right: 10%;
            padding: 14%;
            padding-top: 4%;
        }
        #competition{
            background-color: lightgray;
            float: left;
            margin: 5em;
            padding: 3em;
            margin-top: -1.5em;
            margin-right: -4em;

        }
        #left{
            position: relative;
            right: 90%;
            top: 20px;
        }
        #right{
            
            position: relative;
            left: 90%;
            top: -300px;
            
        }
        
        .skill{
            background-image: url(../Images/tex.png);
            background-size: cover;
            position: relative; 
            padding: 10%;
            padding-bottom: 9.4em;
        }
        .work{
            margin: 4em;
            padding: 4em;
            padding-bottom: 15em;
            color: dimgrey;
        }
        .contact{
            margin: 4em;
            padding: 5em;
            text-align: center;
            padding-bottom: 20em;

        }
        
        body:before{
            height:100%;
             display:inline-block;
             vertical-align:middle;
        }
        button{
            background:#000000;
             color:#fff;
             border:none;
             position:relative;
             height:4em;
             width: 7em;
             font-size:0.9em;
             padding:0 2em;
             cursor:pointer;
             transition:800ms ease all;
             outline:none;
             font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        button:hover{
            background:#fff;
             color:#000000;
        }
        button:before,button:after{
            content:'';
            position:absolute;
            top:0;
            right:0;
            height:2px;
            width:0;
            background: #757575;
            transition:400ms ease all;
        }
        button:after{
            right:inherit;
            top:inherit;
            left:0;
            bottom:0;
        }
        button:hover:before,button:hover:after{
            width:100%;
            transition:800ms ease all;
        }
        a:hover{           
            color: #000000;
            text-decoration: none;
        }
        a:visited{
            color: #757575;
        }
        a:active{
            text-decoration: none;
        }
        a:link{
            color: #757575;
        }        
        
        dt{
            font-size: 30px;
            margin-left: 10px;
        }
        dd{
            font-size: 15px;
            margin-left: 10px;
        }
        .gr{
            margin-left: 40px;
        }
        .inner1,.inner2{
            color: #000 !important;
        }
        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px; 
            z-index: 99; 
            border: none; 
            outline: none; 
            background-color: rgb(45, 59, 119);
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 10px;
            font-size: 18px; 
          }
          
          #myBtn:hover {
            background-color: #555; 
          }
          .progress-bar {
            width: 0;
            animation: progress 1.5s ease-in-out forwards;
          }
            .title {
              opacity: 0;
              animation: show 0.35s forwards ease-in-out 0.5s;
            }
          
          
          @keyframes progress {
            from {
              width: 0;
            }
            to {
              width: 100%;
            }
          } 
          @keyframes show  {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
          @media screen and (max-width: 768px){
        .side-collapse-container{
            width:100%;
            position:relative;
            left:0;
            transition:left .4s;
        }
        .side-collapse-container.out{
            left:200px;
        }
        .side-collapse {
            top:50px;
            bottom:0;
            left:0;
            width:200px;
            position:fixed;
            overflow:hidden;
            transition:width .4s;
        }
        .side-collapse.in {
            width:0;
        }
        .navbar-nav{
            flex-direction: column !important;
        }
        .navbar-toggle {
            display: block !important;
        }
    }

        .navbar-nav{
            flex-direction: row;
        }
        pre {
            tab-size: 8;
        }
        .menu{
            padding: 1.5em;
        }
        .carousel-indicators .active{
            opacity: 0.6;
        }
        .carousel-indicators li{
            width: 10px;
            padding: 10px;
        }
        .navbar-toggle {
            display: none;
        }
        #map-canvas{
            float: left;
            height: 20em;
            width: 75em;
            margin: 5%;
            padding: 5%;
        }
        
